.footer__column-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}